<div class="row justify-content-center pe-1 ps-1">
      <div class="col-xxl-8 col-xl-8 col-lg-6 col-md-8 col-sm-8 col-xs-12 border mt-5 mb-5 pt-5 pb-5" id="login">
            <div class="bloque animate__animated animate__flipInX">
                  <div class="row">
                        <h2 class="col-12 text-center">Registrarte</h2>
                  </div>
                  <div class="row">
                        <div class="col-12 d-flex justify-content-center">
                              <form class="col-xxl-5 col-xl-5 col-lg-6 col-md-8 col-sm-10 col-xs-12 mt-4" id="registerForm">
                                    <div class="mb-1">
                                          <input type="text" class="form-control form-control-lg rounded-0 enter" name="first_name" placeholder="NOMBRE"
                                                maxlength="60" required>
                                    </div>
                                    <div class="mb-1 mt-4">
                                          <input type="text" class="form-control form-control-lg rounded-0 enter" name="last_name" placeholder="APELLIDO"
                                                maxlength="60" required>
                                    </div>
                                    <div class="mb-1 mt-4">
                                          <input type="email" class="form-control form-control-lg rounded-0 enter"
                                                name="email" placeholder="E-MAIL" maxlength="60" required>
                                    </div>
                                    <p class="hidden" id="emailIncorrectoRegistro">E-MAIL incorrecto</p>
                                    <div class="mb-1 mt-4">
                                          <input type="number" class="form-control form-control-lg rounded-0 enter" name="age" placeholder="EDAD"
                                                maxlength="3" required>
                                    </div>
                                    <div class="mb-1 mt-4">
                                          <input type="password" class="form-control form-control-lg rounded-0 enter"
                                                name="password" placeholder="CONTRASEÑA" maxlength="60" required>
                                    </div>
                                    <p class="hidden" id="passwordVaciaRegistro">La contraseña debe tener, al menos, 8 caracteres.
                                    </p>
                                    <div class="mb-1 mt-4">
                                          <input type="password" class="form-control form-control-lg rounded-0 enter"
                                                name="confirm_password" placeholder="CONFIRMAR CONTRASEÑA" maxlength="60" required>
                                    </div>
                                    <p class="hidden" id="passwordIgualesRegistro">Las contraseñas no coinciden</p>
                                    <p class="hidden" id="usuarioExisteRegistro">El usuario ya existe</p>
                                    <div class="mb-2 mt-4">
                                          <button type="submit" class="col-12 btn btn-primary rounded-0">
                                                <a class="text-decoration-none text-reset">ENVIAR</a>
                                          </button>
                                    </div>
                                    <label class="mt-3 hidden" id="registroCompleto">El usuario ha sido registrado
                                          correctamente</label>
                              </form>
                        </div>

                        <div class="row justify-content-center mt-2 me-0 ms-0">
                              <hr class="col-10 ">
                        </div>
                        
                        
                        <div class="mb-4 mt-2">
                              <button type="submit" class="col-8 btn btn-dark rounded-0 p-3">
                                    <a href="/api/users/github" class="text-decoration-none text-reset">REGISTRARSE CON GITHUB</a>
                              </button>
                        </div>

                  </div>
                  <div class="d-flex justify-content-center">
                        <p class="fw-bold">
                              ¿Ya estás registrado? Ingresá <a class="text-decoration-none btnAqui" id="btnAquiRegistrar"
                                    href="./login">aquí</a>
                        </p>
                  </div>
            </div>
      </div>
</div>

<script src="/js/sessions/register.js"></script>